/* ======
    HOME 
   ====== */
#projects {
  min-width: 350px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

/* =====
    BIO 
   ===== */
.bio-paragraph {
  margin-bottom: 10px;
}

/* ==========
    CONTACTS
   ========== */
#contacts-container {
  box-shadow: var(--shadow);
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-ico-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contact-ico {
  width: 35px;
  font-size: 2rem;
  text-align: center;
  margin-right: 10px;
}

.contact-text {
  color: black;
  font-size: 1.5rem;
}

/* =========
    PROJECT
   ========= */
#date {
  text-align: right;
  margin-top: -10px;
  margin-bottom: 10px;
  font-weight: bold;
}

#images-container {
  margin-top: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.project-image {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.project-image:hover {
  transform: scale(1.05);
  transition: all 1s;
}

/* =========
    GENERAL
   ========= */
.page-title {
  font-size: 2rem;
  margin-bottom: 20px;
}
